# Entornos virtuales
venv/


# Archivos de compilación / caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.sqlite3

# Logs
*.log
*.pot

# Archivos temporales de sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.vscode/
.idea/

# Node.js
frontend/node_modules/
frontend/dist/
frontend/build/

# Django
backend/staticfiles/
backend/media/

**/migrations/*.py
!**/migrations/__init__.py

# Docker
postgres_data/

# media
media/videos_de_ia/*
media/videos_seguridad/*

!media/videos_de_ia/.gitkeep
!media/videos_seguridad/.gitkeep


agent.md
