# Django Core
Django==4.2.10
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
django-cors-headers==4.7.0
psycopg2-binary==2.9.10
drf-spectacular==0.28.0
python-dotenv==1.1.0
python-dateutil==2.9.0.post0

# WebSockets
channels==4.0.0
channels-redis==4.1.0
daphne==4.0.0

# Celery
celery==5.3.4
redis==5.0.1
django-celery-beat==2.5.0
django-celery-results==2.5.0

# ML - FORZAR CPU
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.1.0+cpu
torchvision==0.16.0+cpu
opencv-python-headless==4.8.1.78
numpy==1.24.3

# Utilidades
requests==2.31.0
watchfiles==0.24.0
django-filter==23.5
watchfiles==0.24.0

# Firebase Cloud Messaging
firebase-admin==6.4.0
fcm-django==2.0.0
