Django==5.2.1
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
django-cors-headers==4.7.0
psycopg2-binary==2.9.10
drf-spectacular==0.28.0
pillow==11.2.1
python-dotenv==1.1.0
python-dateutil==2.9.0.post0
watchfiles==0.24.0
